@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* 
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;   
}
body {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
header {
  background-image: url(images/bg.jpg);
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;

}
.menu 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
font-size: 35px;
color: white;
}
.menu .naver ul li {
    position: relative;
    float: left;
}

.menu .naver ul li a 
{
  font-size: 22px;
  padding: 20px;
  color: white;
  display: block;  
}

 .menu .naver ul li a:hover 
 {
    color: #c3069d;
 }
 .menu 
 {
    
 }

 .menu-icono 
 {
    width: 25px;
 }

 .menu label 
 {
    cursor: pointer;
    display: none;
     
 }
 .header-content 
 {
    display: flex;
    width: 100%;
 }
  